 
/* PAGE D'ACCUEIL */


@media(max-width: 1200px) {

    .container h2 {
        margin: -150px 0 0 0;
    }

}


@media(max-width: 995px) {

    .container img {
        margin: auto;
    }

    .container h2 {
        margin: -110px 0 0 0;
        font-size: 20px;
    }

}


@media(max-width: 770px) {

    .container h2 {
        margin: -80px 0 0 0;
        font-size: 15px;
    }

}



@media(max-width: 610px) {

    nav {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        align-items: center;
        padding: 10px 0 0 0;      
    }

    h1 a {
        display: none;
    }
}



@media(max-width: 575px) {

    img {
        width: 300px;
    }

    .container h2 {
        margin: -60px 0 0 10px;
        font-size: 15px;
    }

}



@media(max-width: 325px) {

    img {
        width: 290px;
    }

    .container h2 {
        margin: -60px 0 0 10px;
        font-size: 15px;
    }

}



@media(max-width: 325px) {

    h2 {
        font-size: 20px;
    }
}








/* PAGE D'INSCRIPTION */


@media(max-width: 610px) {

    nav {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        align-items: center;
        padding: 10px 0 0 0;      
    }

    h1 a {
        display: none;
    }
}



@media(max-width: 550px) {

    #signupForm {
        width: 420px;
    }
}


@media(max-width: 470px) {

    #signupForm {
        width: 360px;
    }
}


@media(max-width: 400px) {

    #signupForm {
        width: 280px;
    }
}







/* PAGE DE CONNEXION */


@media(max-width: 610px) {

    nav {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        align-items: center;
        padding: 10px 0 0 0;      
    }

    h1 a {
        display: none;
    }
}



@media(max-width: 550px) {

    #loginForm {
        width: 420px;
    }
}


@media(max-width: 470px) {

    #loginForm {
        width: 360px;
    }
}


@media(max-width: 400px) {

    #loginForm {
        width: 280px;
    }
}






/* PAGE DE PROFILE */


@media(max-width: 480px) {

    .card_profile {
        width: 360px;
    }

    .card_image {
        margin: 0 0 0 80px;
    }

    .card_profile .card_name {
        margin: 30px 0 0 2px;
    }

    .card_profile .btn_green {
        margin: 0 0 0 79px;
    }

    .card_profile .btn_red {
        margin: 70px 0 0 65px;
    }

}


@media(max-width: 420px) {

    .card_profile {
        width: 300px;
    }

    .card_image {
        margin: 0 0 0 50px;
    }

    .upload_img {
        margin: 20px 0 0 -10px;
    }

    .card_profile .card_name {
        margin: 30px 0 0 -10px;
    }

    .card_about {
        margin: 30px 0 0 28px;
    }

    .card_profile .btn_green {
        margin: 50px 0 0 48px;
    }

    .card_profile .btn_red {
        margin: 70px 0 0 35px;
    }

}



@media(max-width: 400px) {

    .card_profile {
        width: 250px;
    }

    .card_image {
        margin: 0 0 0 25px;
    }

    .upload_img {
        margin: 20px 0 0 -10px;
        font-size: 13px;
    }

    .card_profile .card_name {
        margin: 30px 0 0 -5px;
    }

    .card_about {
        margin: 30px 0 0 25px;
    }

    .card_profile .btn_green {
        margin: 50px 0 0 23px;
    }

    .card_profile .btn_red {
        margin: 70px 0 0 10px;
    }

}



@media(max-width: 330px) {

    .card_profile {
        width: 200px;
    }

    .card_profile .card_image {
        margin: 0 0 0 25px;
        width: 150px;
        height: 150px;
    }

    .upload_img {
        margin: 20px 0 0 -10px;
        font-size: 10px;
    }

    .card_profile .card_name {
        margin: 30px 0 0 0px;
    }

    .card_about {
        margin: 30px 0 0 20px;
    }

    .card_profile .btn_green {
        margin: 50px 0 0 15px;
        font-size: 12px;
    }

    .card_profile .btn_red {
        margin: 70px 0 0 10px;
        font-size: 11px;
    }

}


/* Profile | Partie JavaScript - responsive */


/* Overlay de la suppression du profile */

@media(max-width: 610px) {

    .doorDelete {
        top: 137px;
    }
}

@media(max-width: 520px) {

    #deleteAccount, .messageDeleteProfile {
        margin: 30px auto;
    }

    .messageDeleteProfile {
        margin: 30px auto;
        width: 90%;
    }

    .titleDeleteProfile {
        font-size: 18px;
    }

    .buttonSuppressionProfile_1, 
    .buttonSuppressionProfile_2 {
        display: flex;
        justify-content: center;
        margin: 30px auto;
        font-size: 17px;
        width: 50%;
        
    }
}

@media(max-width: 360px) {

    .titleDeleteProfile {
        font-size: 15px;
    }

    .buttonSuppressionProfile_1, 
    .buttonSuppressionProfile_2 {
        display: flex;
        justify-content: center;
        margin: 30px auto;
        font-size: 15px;
        width: 60%;
    }
}









/* PAGE DES POSTS */


@media(max-width: 580px) {

    /* Formulaire pour créer un post */

    #myForm {
        width: 450px;
    }

    .titre {
        margin: 20px 0 0 60px;
    }

    .fileImg {
        margin: 20px 0 0 -20px;
    }

    .bouton {
        margin: 40px 150px 30px ;
    }

}



@media(max-width: 500px) {

    #myForm {
        width: 380px;
    }

    .titre {
        margin: 20px 0 0 60px;
    }

    .fileImg {
        margin: 20px 0 0 60px;
        font-size: 15px;
        padding: 0;
    }

    .bouton {
        margin: 40px 120px 30px ;
    }

}



@media(max-width: 580px) {

    /* La liste des posts */

    .post {
        width: 450px;
    }

    .likes {
        margin: 40px 165px 30px ;
    }
}


@media(max-width: 500px) {

    .post {
        width: 380px;
    }

    .points {
        margin: 0 -10px 30px;
    }

    .likes {
        margin: 40px 130px 30px;
    }
}


@media(max-width: 430px) {

    #myForm {
        width: 290px;
    }

    .titre {
        margin: 20px 0 0 40px;
    }

    .fileImg {
        margin: 20px 0 0 30px;
        font-size: 13px;
        padding: 0;
    }

    .bouton {
        margin: 40px 90px 30px 75px ;
    }

}


@media(max-width: 430px) {

    .post {
        width: 290px;
    }

    .points {
        margin: 0 -20px 30px;
    }

    img {
        width: 280px;
        margin: 40px -15px 30px;
    }

    .likes {
        margin: 40px 85px 30px;
    }
}




/* Posts | Partie JavaScript - responsive */


/* Overlay de la modification du post */

@media(max-width: 580px) {

    .postModify {
        margin: 30px 50px;
    }

    .titleModify {
        margin: 30px 25px;
    }

    .texteareaModify {
        right: 25px;
    }

    .fileModify {
        right: 100px;
    }

    .check {
        top: 450px;
        right: 40px;
    }

}



@media(max-width: 500px) {

    .postModify {
        margin: 35px 80px;
        font-size: 15px;
    }

    .cross {
        margin: 35px 20px;
        font-size: 20px;
    }

    .titleModify {
        margin: 30px 15px;
    }

    .texteareaModify {
        right: 20px;
    }

    .fileModify {
        right: 60px;
        font-size: 15px;
    }

    .check {
        top: 450px;
        right: 35px;
    }

}


@media(max-width: 430px) {

    .postModify {
        margin: 35px 20px;
        font-size: 15px;
    }

    .cross {
        margin: 35px 20px;
        font-size: 15px;
    }

    .titleModify {
        margin: 30px 5px;
    }

    .texteareaModify {
        right: 15px;
    }

    .fileModify {
        right: 35px;
        font-size: 12px;
    }

    .check {
        top: 450px;
        right: 40px;
    }

}


/* Overlay de la suppression du post */

@media(max-width: 580px) {

    .messageDelete {
        right: 11px;
    }

    .post button {
        margin: 30px 120px;
    }

}


@media(max-width: 500px) {

    .messageDelete {
        right: 10px;
    }

    .post button {
        margin: 30px 90px;
    }

    .post button {
        margin: 30px 90px;
        font-size: 15px;
    }

    .post button:nth-child(3) {
        margin: 30px 90px;
        font-size: 15px;
        width: 47%;
    }


}


@media(max-width: 430px) {

    .messageDelete {
        right: 7px;
    }

    .titleSuppression {
        font-size: 15px;
    }

    .post button {
        margin: 30px 45px;
        font-size: 15px;
    }

    .post button:nth-child(3) {
        margin: 30px 45px;
        font-size: 15px;
        width: 64%;
    }

}



/* Bouton Modifier/Supprimer */

@media(max-width: 430px) {

    .modifyPost {
        top: 55px;
        right: 13px;
        font-size: 13px;
    }

    .deletePost {
        top: 85px;
        right: 13px;
        font-size: 14px;
    }
}
