* {

    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}


/* TOUTE LES PAGES */


h1 a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

h1 a:hover {
    color: #fff;
}

.container h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: -165px 0 0 0; 
}

img {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}


nav {
    background-color: rgb(47, 81, 97);
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}


nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
    cursor: pointer;
}


nav li a:hover {
    color: rgb(250, 164, 149);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}


form {
    padding-top: 0px;
    margin: auto;
    width: 500px;
}





/* SIGNUP */

.container .signup {
    margin: 60px;
}


.inputInvalid {
    color: red;
}


/* LOGIN */

.container .login {
    margin-top: 60px;
}





/* FORMULAIRE DE CREATION DE POST */

#myForm {
    margin: 50px auto;
    border-radius: 5px;
    -webkit-box-shadow: 2px 5px 24px -1px rgba(0, 0, 0, 0.33);; 
    box-shadow: 2px 5px 24px -5px rgba(0, 0, 0, 0.33);;
}

.post {
    position: relative;
}


.titre {
    margin: 10px 80px;
    width: 71%;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 5px 24px -5px rgba(0, 0, 0, 0.33);;
    -webkit-box-shadow: 2px 0px 10px -1px rgba(0, 0, 0, 0.33);; 
}


.contenu {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 20px;
}


.fileImg {
    padding: 10px 80px;
}

.points {
    position: absolute;
    top: 5px;
    right: 20px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    padding: 0px 15px 10px 10px;
    border-radius: 50px;
    cursor: pointer;
}

.bouton {
    margin: 30px 180px 30px;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background: #02274d;
    color: #fff;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.bouton:hover {
    background: #0381ff;
}






/* POST */

.position-posts {
    display: flex;
    justify-content: center;
}

.post {
    width: 500px;
    padding: 20px;
    margin: 0px 100px 30px;
    -webkit-box-shadow: 2px 5px 24px -1px #000000; 
    box-shadow: 2px 5px 24px -5px #000000;
    border-radius: 5px;
    margin: 50px auto;
}

.post h2, p, img, a {

    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    
}


.post button {
    margin: 40px 151px 30px;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background: #005dff;
    color: #fff;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #2c95ff;
}


.post .coms {
    position: relative;
}





/* MODIFIER POST */


.windowModify {
    position: absolute;
    top: 0px;
    right: 0px;
    background:rgb(255, 255, 255);
    width: 100%;
    height: 100%; 
    opacity: 95%;
}


.modifyPost {
    position: absolute;
    box-shadow: 2px 5px 24px -5px rgba(0,0,0,0.51);
    top: 66px;
    right: 36px;
    padding: 5px 12px 5px 12px;
    font-weight: bold;
    cursor: pointer;
    
}


.modifyPost:hover {
    background: #005dff;
    color: #fff;
    transition: 0.3s ease-in-out;
}


/* FORMLAIRE */

.registrationForm {
    position: relative;
}



.postModify {
    position: absolute;
    top: 10px;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 5px 5px 24px 5px rgba(0,0,0,0.51);
    background: rgb(70, 153, 248);
    border-radius: 5px;
    margin: 30px 30px 40px 80px;
    color: #fff;
}


.cross {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 5px 5px 24px 5px rgba(0,0,0,0.51);
    background: rgb(0, 0, 0);
    border-radius: 50px;
    margin: 30px 30px 40px 80px;
    color: #fff;
    cursor: pointer;
}



.titleModify {
    position: absolute;
    top: 140px;
    right: 25px;
    margin: 30px 30px 40px 40px;
    width: 80%;
    box-shadow: 5px 5px 24px 5px rgba(0,0,0,0.51);
    border-radius: 10px;
    border: none;
}


.texteareaModify {
    position: absolute;
    top: 215px;
    right: 29px;
    box-shadow: 5px 5px 24px 5px rgba(0,0,0,0.51);
    border: none;
}

.fileModify {
    position: absolute;
    top: 340px;
    right: 120px;
}


.check {
    position: absolute;
    top: 400px;
    right: 30px;
    box-shadow: 5px 5px 24px 5px rgba(0,0,0,0.51);
    background: #005dff;
}

.check:hover {
    background: #2c95ff;
}





/* SUPPRIMER POST */

.deletePost {
    position: absolute;
    top: 100px;
    right: 36px;
    padding: 5px;
    box-shadow: 2px 5px 24px -5px rgba(0,0,0,0.51);
    font-weight: bold;
    cursor: pointer;

}

.deletePost:hover {

    background: #ff001f;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.windowDelete {
    position: absolute;
    top: 0px;
    right: 0px;
    background:rgb(100, 100, 100);
    width: 100%;
    height: 100%; 
    opacity: 90%;
}

.messageDelete {
    position: absolute;
    top: 150px;
    right: 12px;
    width: 95%;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    color: #000;
    background: #fff;
    border-radius: 5px;
    z-index: 1000;
}

.titleSuppression {
    text-align: center;
}



/*  BOUTON */

.btnSuppression1 {
    margin: 30px 137px 30px;
    padding: 10px 40px;
    border-radius: 5px;
    width: 150px;
    border: none;
    background: grey;
    color: #fff;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.btnSuppression1:hover { 
    background: red;
}

.btnSuppression2 {
    margin: 30px 136px 30px;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background: grey;
    color: #fff;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.btnSuppression2:hover { 
    background: #6ac1ff;
}



/* COMMENTAIRE */

.commentaire {
    display: flex; 
    justify-content: center;
    background-color: rgba(184, 184, 184, 0.787);
    box-shadow: 2px 5px 24px -5px rgba(0, 0, 0, 0.883);
    border-radius: 3px;
    overflow: hidden;
    hyphens: auto;
    word-wrap: break-word;
    padding: 0px 0px 20px 20px;
}

strong:nth-child(1) {
    display: flex;
    justify-content: center;
    padding: 10px 0px 20px 0;
    margin: 0 20px 0 0;
}

strong:nth-child(2) {
    display: flex;
    justify-content: center;
    margin: 0 20px 0 0;
    
}

.coms textarea {
    margin: 10px 0 20px 25px;
    width: 90%;
}



/* BOUTON LIKE */


.likes {
    padding: 4px 4px;
    border-radius: 5px;
    width: 80px;
    border: none;
    color: #000;
    cursor: pointer;
    margin: 20px 190px 30px;
    outline: none;
    font-weight: bold;
    box-shadow: 2px 5px 24px -5px rgba(0, 0, 0, 0.883);
   
}




/* PROFILE */

.container .card_profile {
    margin: 0 auto 50px auto;
    margin-top: 120px;
    padding: 20px 0 20px 0;
}


.card_profile {
    text-align: center;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 5px 24px -5px #000000;
    background-color: #fff;
}


.upload_img {
    margin: 14px 0 0 14px;
    padding: 20px;
}


.card_profile .card_image {
    width: 200px;
    height: 200px;
}


.card_image {
    display: block;
    margin: 0 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.33);
    margin-top: 10px;
}


.card_profile .card_name {
    margin: 30px 0 0 -5px;
    width: 60%;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 5px 24px -5px rgba(0, 0, 0, 0.33);;
    -webkit-box-shadow: 2px 0px 10px -1px rgba(0, 0, 0, 0.33); 
}

.card_about {
    display: flex;
    justify-content: center;
    margin: 30px 20px 40px 40px;
    width: 80%;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 5px 24px -5px rgba(0, 0, 0, 0.33);;
    -webkit-box-shadow: 2px 0px 10px -1px rgba(0, 0, 0, 0.33);; 
    
}

.card_profile .btn_blue {
    display: flex;
    margin: 20px 70px 50px 100px ;
    border: none;
    padding: 9px 32px;
    background-color: #017bcc;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.card_profile .btn_blue:hover {
    background: #4eb8ff;
}


.card_profile .btn_green {
    display: flex;
    margin: 20px 70px 20px 98px ;
    border: none;
    padding: 9px 32px;
    background-color: #06ac00;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.card_profile .btn_green:hover {
    background: #01d124;
}


.card_profile .btn_red {
    display: flex;
    margin: 80px 20px 20px 74px ;
    border: none;
    padding: 9px 32px;
    background-color: #f00000;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.card_profile .btn_red:hover {
    background: #ff2f2f;
}


.doorDelete {
    position: absolute;
    top: 124px;
    right: 0px;
    background:rgb(100, 100, 100);
    width: 100%;
    height: 110%; 
    opacity: 90%;
    cursor: auto;
}

#deleteAccount, .messageDeleteProfile {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.messageDeleteProfile {
    position: absolute;
    top: 500px;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    color: #000;
    background: #fff;
    border-radius: 5px;
    z-index: 1000;
    cursor: pointer;
}


.buttonSuppressionProfile_1 {
    margin: 40px 140px 30px;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background: #005dff;
    color: #fff;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    z-index: 100;
    cursor: pointer;
}

.buttonSuppressionProfile_1:hover {
    background: #fb0000;
}



.buttonSuppressionProfile_2 {
    margin: 40px 140px 30px;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background: #005dff;
    color: #fff;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    z-index: 100;
    cursor: pointer;
}

.buttonSuppressionProfile_2:hover {
    background: #3e83fb;
}
